<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105921390050-ui5csq6trj096p3jpfmtcnehqpvk8rii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105921390050-ui5csq6trj096p3jpfmtcnehqpvk8rii</string>
	<key>API_KEY</key>
	<string>AIzaSyAA12ePxXlheIdix-vMo2RtQbfwRt4wiec</string>
	<key>GCM_SENDER_ID</key>
	<string>105921390050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SSAC.SeSAC-FireBase</string>
	<key>PROJECT_ID</key>
	<string>sesac-65e13</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-65e13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105921390050:ios:0fb97a19ea9e8a628dc5bb</string>
</dict>
</plist>